---
import Skeleton from "../../layouts/Skeleton.astro";
import PostList from "../../components/PostList.astro";
import { getPosts } from "../../utils/getPosts";

export async function getStaticPaths() {
  const posts = getPosts();

  let tags: string[] = [];

  posts.forEach((post) => {
    if (post.frontmatter.tags) {
      (post.frontmatter.tags as string[]).forEach((tag) => {
        if (!tags.includes(tag)) {
          tags.push(tag);
        }
      });
    }
  });

  return tags.map((tag) => ({ params: { tag } }));
}

const { tag } = Astro.params;

const tagposts = getPosts().filter(
    (post) =>
      post.frontmatter.tags &&
      post.frontmatter.tags.includes(String(tag))
  );

const skeletonContent = {
  title: `Tag: ${tag}`,
  description: `Posts tagged with "${tag}"`,
};
---

<Skeleton content={skeletonContent}>
  <h1>Posts tagged with &quot;{tag}&quot;</h1>
  <PostList posts={tagposts} />
</Skeleton>
